fastapi[standard]
python-multipart
sqlalchemy[asyncio]
aiomysql
pymysql
python-jose[cryptography]
bcrypt
pydantic[email]
pydantic-settings
pypdf
python-docx
chromadb
rank-bm25
jieba
openai
python-dotenv
